<div class="Candidate Update">
<h2>Change Your Password </h2>
<%= form_for @candidate, :url => {:action => "update_password"} do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation col-sm-offset-4" class="alert alert-warning">
      <h2><%= pluralize(@candidate.errors.count, "error")%> Prohibited from being saved:</h2>
      <ul>
        <% @candidate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <table summary="Candidates form fields" class ="table table-hover">
     
      <tr>
        <th>Name</th>
        <td><%=@candidate.name%></td>
      </tr>

      <tr>
        <th>Current Password</th>
        <td><%= f.password_field :password%></td>
      </tr>

      <tr>
        <th>Password</th>
        <td><%= f.password_field :password, placeholder: "should be atleast 6 characters"%></td>
      </tr>
      
      <tr>
        <th>Confirm Password</th>
        <td><%= f.password_field :password_confirmation, placeholder: "enter your password again:"%></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
<% end %>
</div>