<%= link_to("<< List of Candidates", users_path, :class => 'back-link') %>
<h3> 
  Candidate :
  <%= link_to user_path(@user.id),:class => "user-title" do %>
    <i class="glyphicon glyphicon-user"></i>
    <%=@user.name%>
  <% end %>
</h3>
<div class="table-responsive">
  <table class="table table-hover" summary="Exams Associated with the candidate">
    <tr class="header">
      <th>Exam Name</th>
      <th>Marks</th>
      <th>Result</th>
      <th>Comments</th>
      <th> Actions</th>
    </tr>
    
    <% @results.each do |result| %>
      <tr>
        <td><%= result.exam.exam_name%></td>
        <td><%= result.marks%></td>
        <td><%= result.results%></td>
        <td><%= result.comments%></td>
        <td>
          <%if result.attach.present?%>
            <%=link_to "View Answersheet", result.attach.url, target: "_blank" , :class => 'btn btn-info' %>
          <%else%>
            <%="-"%>
          <%end%>
          <%= link_to("Update Result", view_user_results_path(user_id: result.user.id, exam_id: result.exam.id) , :class => 'btn btn-primary') %>
        </td>
      </tr>
    <% end %>
  </table>
</div>