<%= link_to("<< Back to List", users_path, :class => 'back-link') %>


<table class="listing" summary="Exams Associated with the candidate">
    <tr class="header">
      <th>Exam Name</th>
      <th>Marks</th>
      <th>Result</th>
      <th>Comments</th>
      <th>Answer Sheets</th>
      <th> Actions</th>
    </tr>
    <% @results.each do |result| %>
    
    <tr>
      <td><%= result.exam.exam_name%></td>
      <td><%= result.marks%></td>
      <td><%= result.results%></td>
      <td><%= result.comments%></td>
      <td>
      <%if result.attach.present?%>
        <%=link_to "View Answersheet", result.attach.url, target: "_blank" %>
      <%else%>
        <%="-"%>
      <%end%>
      </td>
      <td class="actions">
        <%= link_to("Update", view_user_results_path(user_id: result.user.id, exam_id: result.exam.id) , :class => 'action edit') %>
        
      </td>
    </tr>
    <% end %>
  </table>