<%= link_to("<< Result List", results_path(user_id: @user.id), :class => 'back-link') %>
<div class="Result Update">
  <h2>Update Result </h2>
  <h3> 
    Candidate :
    <%= link_to user_path(@result.user.id) do %>
      <i class="glyphicon glyphicon-user"></i>
      <%=@result.user.name%>
    <% end %>
  </h3>
  <h3> 
    Examination :
    <%= link_to question_paper_exam_path(@result.exam.id) do %>
      <%=@result.exam.exam_name%>
    <% end %>
  </h3>
  <%= form_for @result, :html =>{ :multipart => true } do |f| %>
    <table summary="Results form fields" class= "table table-hover">
      <tr>
        <th>Marks</th>
        <td><%= f.text_field(:marks) %></td>
      </tr>
      
      <tr>
        <th>Result</th>
        <td>
          <%= f.select(:results) do %>
            <% [['Pass', 'Pass'], ['Fail', 'Fail']].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th>Comments</th>
        <td><%= f.text_area :comments, :style => 'width:70%;'%></td>
      </tr>
      <tr>
        <th>Upload Answer Sheet</th>
        <td><%= f.file_field :attach %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Result") %>
    </div>

  <% end %>
</div>