<%= link_to("<< Back to List", exams_path, :class => 'back-link') %>
<div class="associate">
  <h2>Associate Candidates for <%=@exam.exam_name%> Examination </h2>

  <%= form_tag(results_path(exam_id: @exam.id), method: :post)  do  %>
  <table class="table table-hover" summary="Candidates Enrolled for Training Program">
    <tr class="header">
      <th>Candidates</th>
      <th>Email</th>
      <th>College</th>
      <th>Select</th>
    </tr>
    <% @candidates.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.email %></td>
      <td><%= candidate.college %></td>
      <td class="actions">
        <input type="checkbox" name="a_candidate[]" value="<%=candidate.id%>">
      </td>
    </tr>
    <% end %>
  </table>
  <div class="form-buttons">
  <%= submit_tag 'Asscoiate' %>
  </div>
<% end %>
</div>