<div class="exams index">
  <h2>List of Exams</h2>

  <%= link_to("Add New Exam", new_exam_path , :class => 'action new') %>

  <table class="listing" summary="Exams Created for Training Program">
    <tr class="header">
      <th>Exam Id</th>
      <th>Exam Name</th>
      <th>Actions</th>
    </tr>
    <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.id %></td>
      <td><%= link_to(exam.exam_name , question_paper_exam_path(exam.id) , :class => 'action view-question-paper') %></td>
      <td class="actions">
        <%= link_to("Questions", exam_path(exam.id) , :class => 'action show') %>
        <%= link_to("Associate", associate_exam_path(exam.id) , :class => 'action associate') %>
        <%= link_to 'Delete', exam_path(exam.id) , :class => 'action delete',
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </table>
</div>